/* reset rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common rules */
body {
    font-family: Arial;
    background-color: #183A4A;
}

h1 {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    margin: 4rem 0;
}

.container {
    width: 80%;
    margin: auto;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 2.8rem;
    list-style: none;
    background-color: #3D88AE;
    margin: 1rem 0;
}

/* cells color */
.multiple_15 {
    background-color: #DE5471;
}
.multiple_3 {
    background-color: #61D2A4;
}
.multiple_5 {
    background-color: #F9D277;
}